! Colorscheme settings
#include ".xrdb/colors/gruvbox-dark"

! Urxvt settings
Rxvt*scrollBar:false
URxvt*font: xft:DejaVuSansMonoNerdFontMono:size=12
URxvt*boldFont: xft:DejaVuSansMonoNerdFontMono:size=12
URxvt*letterSpace: 0
URxvt*internalBorder: 20
URxvt.depth: 32
URxvt.background: [90]#000000
!! scroll behavior
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 10000
!! Icons
!URxvt.iconFile: /usr/share/icons/Moka/32x32/apps/terminal.png
!! Extensions
URxvt*perl-ext: eval
URxvt*perl-ext-common:
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

! Xft font configurations
Xft*autohint: 0
Xft*lcdfilter: lcddefault
Xft*hintstyle: hintslight
Xft*dpi: 96
Xft*hinting: 1
Xft*antialias: 1
Xft*rgba: rgba
