! Colorscheme settings
#include ".xrdb/colors/gruvbox-dark"

! Urxvt settings
Rxvt*scrollBar:false
URxvt*font: xft:DejaVuSansMonoNerdFont:size=10
URxvt*letterSpace: -1
URxvt*internalBorder: 10
!! scroll behavior
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 2048
!! NO extensions
URxvt*perl-ext:
URxvt*perl-ext-common:

! Xft font configurations
Xft*autohint: 0
Xft*lcdfilter: lcddefault
Xft*hintstyle: hintslight
Xft*dpi: 96
Xft*hinting: 1
Xft*antialias: 1
Xft*rgba: rgb
